@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #eee;
    transition: 1s ease;
}

button {
    border: none;
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px 24px;
    margin: 10px 5px;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 5px;
    overflow: hidden;
    background: royalblue;
    transition: .3s ease;
    opacity: 1;
}

button:not(:disabled) {
    cursor: pointer;
    box-shadow: 2px 1px 4px rgba(0,0,0,0.3), -2px 1px 4px rgba(0,0,0,0.3);
}

button:hover:not(:disabled) {
    transition: .15s ease;
    opacity: .8;
    box-shadow: 3px 4px 10px rgba(0,0,0,0.5), -3px 4px 10px rgba(0,0,0,0.5);
}

button:disabled {
    background: rgba(0,0,0,0.2);
}

span.ripple {
    position: absolute;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.5);
    height: 0;
    width: 0;
    pointer-events: none;
    border-radius: 50%;
    box-shadow: 5px 10px 0 0 rgba(255, 255, 255, 0.5);
    opacity: 0.6;
    transition: .2s ease;
}

@keyframes animate {
    0% {
        height: 0px;
        width: 0px;
    }
    100% {
        height: 5000px;
        width: 5000px;
    }
}