body {
    padding: 0;
    margin: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    background: rgb(21, 19, 39);
    height: 100vh;
    overflow: hidden;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td {
    height: 100px;
    width: 100px;
    border: 1px solid #dddddd;
    text-align: center;
    background: white;
    padding: 10px;
    cursor: pointer;
}

td:hover:not(.clicked) {
    background: gray;
}

td.clicked {
    background: green;
}